@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 0, 75) !important;
    overflow: hidden;
}



.center {
    position: relative;
    top: 40%;
    left: 50%;
    display: inline-block;
    width: 420px;
    min-height: 500px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-image: linear-gradient(to top right, rgb(0 168 255), rgb(249 95 230));
}

@media screen and (max-height: 500px) {
    .center {
        transition: transform 0.5s;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

.center .ear {
    position: absolute;
    top: -110px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(50 22 22);
}

.center .ear.ear--left {
    left: -135px;
}

.center .ear.ear--right {
    right: -135px;
}

.center .face {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 80px auto 10px;
    --rotate-head: 0deg;
    transform: rotate(var(--rotate-head));
    transition: transform 0.2s;
    transform-origin: center 20px;
}

.center .eye {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #243946;
}

.center .eye.eye--left {
    margin-right: 40px;
}

.center .eye.eye--right {
    margin-left: 40px;
}

.center .eye .glow {
    position: relative;
    top: 3px;
    right: -12px;
    width: 12px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    transform: rotate(38deg);
}

.center .nose {
    position: relative;
    top: 30px;
    transform: scale(1.1);
}

.center .nose .glow {
    position: absolute;
    top: 3px;
    left: 32%;
    width: 15px;
    height: 8px;
    border-radius: 50%;
    background-color: #476375;
}

.center .mouth {
    position: relative;
    margin-top: 45px;
}

.center svg.smile {
    position: absolute;
    left: -28px;
    top: -19px;
    transform: scaleX(1.1);
    stroke: #243946;
}

.center .mouth-hole {
    position: absolute;
    top: 0;
    left: -50%;
    width: 60px;
    height: 15px;
    border-radius: 50%/100% 100% 0% 0;
    transform: rotate(180deg);
    background-color: #243946;
    z-index: -1;
}

.center .tongue {
    position: relative;
    top: 5px;
    width: 30px;
    height: 20px;
    background-color: #ffd7dd;
    transform-origin: top;
    transform: rotateX(60deg);
}

.center .tongue.breath {
    -webkit-animation: breath 0.3s infinite linear;
    animation: breath 0.3s infinite linear;
}

.center .tongue-top {
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffd7dd;
}

.center .line {
    position: absolute;
    top: 0;
    width: 30px;
    height: 5px;
    background-color: #fcb7bf;
}

.center .median {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 25px;
    border-radius: 5px;
    background-color: #fcb7bf;
}

.center .hands {
    position: relative;
}

.center .hands .hand {
    position: absolute;
    top: -6px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.center .hands .hand--left {
    left: 125px;
}

.center .hands .hand--left.hide {
    transform: translate(2px, -155px) rotate(-160deg);
}

.center .hands .hand--left.peek {
    transform: translate(0px, -120px) rotate(-160deg);
}

.center .hands .hand--right {
    left: 240px;
}

.center .hands .hand--right.hide {
    transform: translate(-6px, -155px) rotate(160deg);
}

.center .hands .hand--right.peek {
    transform: translate(-4px, -120px) rotate(160deg);
}

.center .hands .finger {
    position: relative;
    z-index: 0;
}

.center .hands .finger .bone {
    width: 20px;
    height: 20px;
    border: 2px solid #243946;
    border-bottom: none;
    border-top: none;
    background-color: rgb(255 211 11);
}

.center .hands .finger .nail {
    position: absolute;
    left: 0;
    top: 10px;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #243946;
    background-color: #fac555;
    z-index: -1;
}

.center .hands .finger:nth-child(1),
.center .hands .finger:nth-child(3) {
    left: 4px;
    z-index: 1;
}

.center .hands .finger:nth-child(1) .bone,
.center .hands .finger:nth-child(3) .bone {
    height: 10px;
}

.center .hands .finger:nth-child(3) {
    left: -4px;
}

.center .hands .finger:nth-child(2) {
    top: -5px;
    z-index: 2;
}

.center .hands .finger:nth-child(1) .nail,
.center .hands .finger:nth-child(3) .nail {
    top: 0px;
}

.center .login {
    position: relative;
    display: flex;
    flex-direction: column;
}

.center .login label {
    position: relative;
    padding: 0 20px;
}

.center .login label .fa {
    position: absolute;
    top: 40%;
    left: 35px;
    color: #bbb;
}

.center .login label .fa:before {
    position: relative;
    left: 1px;
}

.center .login input,
.center .login .login-button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 30px;
}

.center .login input {
    padding: 0 20px 0 40px;
    margin: 5px 0;
    box-shadow: none;
    outline: none;
}

.center .login input::-moz-placeholder {
    color: #ccc;
}

.center .login input:-ms-input-placeholder {
    color: #ccc;
}

.center .login input::placeholder {
    color: #ccc;
}

.center .login input.password {
    padding: 0 90px 0 40px;
}

.center .login .password-button {
    position: absolute;
    top: 9px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 27px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #243946;
    color: #fff;
}

.center .login .password-button:active {
    transform: scale(0.95);
}

.center .login .password-button2 {
    position: absolute;
    top: 9px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 27px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #243946;
    color: #fff;
}

.center .login .password-button2:active {
    transform: scale(0.95);
}

.center .login .login-button {
    width: calc(100% - 40px);
    margin: 20px 20px 0;
    outline: none;
    background-color: #243946;
    color: #fff;
    transition: transform 0.1s;
}

.center .login .login-button:active {
    transform: scale(0.95);
}

.center .social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.center .social-buttons .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #243946;
    color: #fff;
    font-size: 18px;
}

.center .social-buttons .social:active {
    transform: scale(0.95);
}


@-webkit-keyframes breath {

    0%,
    100% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(60deg);
    }
}

@keyframes breath {

    0%,
    100% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(60deg);
    }
}

.section {
    position: relative;
    width: 100%;
    display: block;
}

.full-height {
    min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 90px auto;
    cursor: pointer;
    background-color: #EC994B;
    top: -60px;

}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #2a2b38;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
    position: relative;
    width: 140px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 40px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-back .center {
    padding-bottom: 30px;
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.checkbox:checked~.second input {
    transform: rotateY(180deg);
    z-index: 999 !important;
}

.login-register span {
    padding: 0 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.second {
    padding-bottom: 30px;
}


/* Last */
.center .login2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.center .login2 label {
    position: relative;
    padding: 0 20px;
}

.center .login2 label .fa {
    position: absolute;
    top: 40%;
    left: 35px;
    color: #bbb;
}

.center .login2 label .fa:before {
    position: relative;
    left: 1px;
}

.center .login2 input,
.center .login2 .login2-button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 30px;
}

.center .login2 input {
    padding: 0 20px 0 40px;
    margin: 5px 0;
    box-shadow: none;
    outline: none;
}

.center .login2 input::-moz-placeholder {
    color: #ccc;
}

.center .login2 input:-ms-input-placeholder {
    color: #ccc;
}

.center .login2 input::placeholder {
    color: #ccc;
}

.center .login2 input.password {
    padding: 0 90px 0 40px;
}

.center .login2 .password-button {
    position: absolute;
    top: 9px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 27px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #243946;
    color: #fff;
}

.center .login2 .password-button:active {
    transform: scale(0.95);
}

.center .login2 .password-button2 {
    position: absolute;
    top: 9px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 27px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #243946;
    color: #fff;
}

.center .login2 .password-button2:active {
    transform: scale(0.95);
}

.center .login2 .login-button {
    width: calc(100% - 40px);
    margin: 20px 20px 0;
    outline: none;
    background-color: #243946;
    color: #fff;
    transition: transform 0.1s;
    border-radius: 30px;
    padding: 3px 0;
}

.center .login2 .login-button:active {
    transform: scale(0.95);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#acceptCookie {
    background-color: #6859fe;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 10px 0;
    width: 100%;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
#acceptCookie:disabled{
    background: #8e8e8e3e;
    cursor: auto;
}

.modal-body {
    padding: 2px 16px;
}

.label{
    position: relative;
    margin: 5px auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2em;
}


.label .input{
    appearance: none;
    display: none;
}

.label span{
    position: relative;
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.5s;
}


.label span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #7f7d7d;
    box-shadow: 0 -27px 0 #7f7d7d;
    transition: all 0.5s;
}



.label span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    background-color: #7f7d7d;
    box-shadow: 27px 0 0 #7f7d7d;
    transition: all 0.5s;
}


.label .input:checked ~ span.check::before{
    background: lightgreen;
    box-shadow: 0 0 0 transparent;
}

.label .input:checked ~ span.check::after{
    background: lightgreen;
    box-shadow: 0 0 0 transparent;
    height: 50%;
}


.label .input:checked ~ span.check{
    transform: rotate(-45deg) translate(5px,-5px);
}


.label .input:checked ~ span.cross::before{
    background: red;
    box-shadow: 0 0 0 transparent;
    transform: rotate(-45deg) translate(10px,-10px);
}


.label .input:checked ~ span.cross::after{
    background: red;
    box-shadow: 0 0 0 transparent;
    transform: rotate(-45deg) translate(10px,8px);
}


form header{
    width: 100%;
    font-size: 0.8em;
    color: #fe7;
    font-weight: 300;
    cursor: default;
    transition: all 0.5s;
}

#yes:checked ~ form header::before{
    content: "Yes";
}

